<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848010185374-k3gfktbh7ndfi1tk67ssk04dhdbbsb5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848010185374-k3gfktbh7ndfi1tk67ssk04dhdbbsb5l</string>
	<key>API_KEY</key>
	<string>AIzaSyDXdXVew_cmftUbG0lNcSoKcisRXxPCdNA</string>
	<key>GCM_SENDER_ID</key>
	<string>848010185374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.momoCar</string>
	<key>PROJECT_ID</key>
	<string>momo-ec6c4</string>
	<key>STORAGE_BUCKET</key>
	<string>momo-ec6c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848010185374:ios:c0ffb0969ce061b72f098f</string>
</dict>
</plist>